.main-heading {
  font-style: italic;
  text-align: center;
}

.grid-container {
  display: flex;
}

.column1 {
  background-color: red;
  flex: 1;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.column2 {
  background-color: yellow;
  flex: 2;
}
.column3 {
  background-color: blue;
  flex: 1;
}
