.main-heading {
  font-style: italic;
  text-align: center;
}

.grid-container {
  display: flex;
}

.border1 {
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: whitesmoke;
  height: 350px;
}

.one {
  text-align: center;
}

.column1 {
  flex: 1;
}

.column2 {
  flex: 2;
}

.column3 {
  flex: 1;
}
